<section ng-controller="sporksController">
  <div class="page-header row">
        <strong class="col-md-6">New Spork</strong>
      <div  class="col-md-6 text-right">
        <div class="btn-group btn-group-sm">
          <button ng-repeat="action in sporkCreationFormObj.actions" type="button" class="btn btn-primary" ng-click="callAction(action.click)">{{action.label}}</button>
        </div>
      </div>
  </div>

  <form name="{{sporkCreationFormObj.name}}" class="form-horizontal" novalidate>
    <fieldset>
      <div ng-repeat="col in sporkCreationFormObj.cols" class="col-md-6" >
        <div ng-repeat="entry in col" ng-switch="entry.type">
          <ng-form name="innerForm">
          <div class="form-group" ng-switch-when="text" show-errors>
            <label for="{{entry.name}}" class="col-sm-2 control-label">{{entry.label}}</label>
            <div class="col-sm-10" >
              <input name="{{entry.name}}" type="text" ng-model="$root[entry.model]" class="form-control"
                     placeholder="{{entry.placeholder}}" ng-required="entry.required"
                     ng-minlength="entry.minlength" ng-maxlength="entry.maxlength"
                     ng-pattern="entry.pattern">
              <div ng-messages="innerForm[entry.name].$error" role="alert">
                <div ng-repeat="errorMessage in entry.errorMessages">
                  <p class="help-block error-text" ng-message-exp="errorMessage.type">{{errorMessage.text}}</p>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group" ng-switch-when="dropdown" show-errors>
            <label for="{{entry.name}}" class="col-sm-2 control-label">{{entry.label}}</label>
            <div class="col-sm-10" >
              <select name="{{entry.name}}" ng-model="$root[entry.model]" ng-options="option.label for option in entry.options" class="form-control"  ng-required="entry.required"></select>
              <div ng-messages="innerForm[entry.name].$error" role="alert">
                <div ng-repeat="errorMessage in entry.errorMessages">
                  <p class="help-block error-text" ng-message-exp="errorMessage.type">{{errorMessage.text}}</p>
                </div>
              </div>
            </div>
          </div>
        </ng-form>
        </div>
      </div>
    </fieldset>
  </form>

</section>
